<!doctype html>
<html lang="en">
  <head>
    @@include("partials/head.html", {
      "title": "Dashkit"
    })
  </head>
  <body>

    <!-- MODALS
    ================================================== -->
    @@include("partials/modals.html")

    <!-- NAVIGATION
    ================================================== -->
    @@if (navPosition == 'sidenav' || navPosition == 'combo' || demoMode) {
      @@if (sidebarSize == 'base' || demoMode) {
        @@include("partials/sidebar.html", {
          "category": "pages",
          "subcategory": "team",
          "page": "team-projects.html"
        })
      }
      @@if (sidebarSize == 'small' || demoMode) {
        @@include("partials/sidebar-sm.html", {
          "category": "pages",
          "subcategory": "team",
          "page": "team-projects.html"
        })
      }
    }
    @@if (navPosition == 'topnav' || demoMode) {
      @@include("partials/topnav.html", {
        "category": "pages",
        "subcategory": "team",
        "page": "team-projects.html"
      })
    }

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">
      <!-- HEADER -->
      <div class="header">
        <!-- Image -->
        <img src="assets/img/shiseido/shiseido-banner.jpg" class="header-img-top" alt="...">
      </div> <!-- / .header -->

      <!-- CONTENT -->
    <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="avatar avatar-xxl mt-n5">
              <img src="assets/img/shiseido/shiseido-logo-fleur.png" alt="..." class="avatar-img rounded-circle">
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col col-lg-7">
            <h1>Test</h1>
            <p class="lead text-muted">rerrterrf drdr drtdfrf</p>
            <p>DJ Thera brings a brand new and big atmospheric release with 'Forever'. A track that has both hard
pounding Raw Hardstyle kicks and a huge melody line that is accommodated by a lovely female
singing voice. This energetic and melodic track will be premiered at the blue stage of Defqon.1 . After hearing this track you will remember it, forever!</p>
            <p>DJ Thera brings a brand new and big atmospheric release with 'Forever'. A track that has both hard
pounding Raw Hardstyle kicks and a huge melody line that is accommodated by a lovely female
singing voice. This energetic and melodic track will be premiered at the blue stage of Defqon.1 . After hearing this track you will remember it, forever!</p>
            <p>DJ Thera brings a brand new and big atmospheric release with 'Forever'. A track that has both hard
pounding Raw Hardstyle kicks and a huge melody line that is accommodated by a lovely female
singing voice. This energetic and melodic track will be premiered at the blue stage of Defqon.1 . After hearing this track you will remember it, forever!</p>
            <p>DJ Thera brings a brand new and big atmospheric release with 'Forever'. A track that has both hard
pounding Raw Hardstyle kicks and a huge melody line that is accommodated by a lovely female
singing voice. This energetic and melodic track will be premiered at the blue stage of Defqon.1 . After hearing this track you will remember it, forever!</p>
          </div>
        </div>
        <div class="row justify-content-center">

            <!-- Card -->
            <div class="col-4">
            <div class="card">
              <a href="shiseido.html">
                <img src="assets/img/shiseido/shiseido-logo.png" alt="..." class="card-img-top">
              </a>
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Title -->
                    <h4 class="card-title mb-2 name">
                      <a href="project-overview.html">Shiseido</a>
                    </h4>

                    <!-- Subtitle -->
                    <p class="card-text small text-muted">
                      Création de l'application mobile
                    </p>

                  </div>
                  <div class="col-auto">

                    <!-- Dropdown -->
                    <div class="dropdown">

                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Action
                        </a>
                        <a href="#!" class="dropdown-item">
                          Another action
                        </a>
                        <a href="#!" class="dropdown-item">
                          Something else here
                        </a>
                      </div>
                    </div>

                  </div>
                </div> <!-- / .row -->

                <!-- Divider -->


              </div> <!-- / .card-body -->
            </div>
          </div>

          <div class="col-4">

            <!-- Card -->
            <div class="card">
              <a href="shiseido.html">
                <img src="assets/img/macif/macif-logo.jpg" alt="..." class="card-img-top">
              </a>
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Title -->
                    <h4 class="card-title mb-2 name">
                      <a href="project-overview.html">La Macif</a>
                    </h4>

                    <!-- Subtitle -->
                    <p class="card-text small text-muted">
                      De l'application mobile à sa responsive sur desktop
                    </p>

                  </div>
                  <div class="col-auto">

                    <!-- Dropdown -->
                    <div class="dropdown">
                      <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#!" class="dropdown-item">
                          Action
                        </a>
                        <a href="#!" class="dropdown-item">
                          Another action
                        </a>
                        <a href="#!" class="dropdown-item">
                          Something else here
                        </a>
                      </div>
                    </div>

                  </div>
                </div> <!-- / .row -->

                <!-- Divider -->


              </div> <!-- / .card-body -->
            </div>

          </div>


            <!-- Card -->



           </div>

     </div>
     <div class="container">
         <div class="row">
           <div class="col text-center">

           </div><br><br>
         </div>
         <div class="row justify-content-center">
           <div class="col col-lg-7">
             <h1>Test</h1>
             <p class="lead text-muted">rerrterrf drdr drtdfrf</p>
             <p>DJ Thera brings a brand new and big atmospheric release with 'Forever'. A track that has both hard
 pounding Raw Hardstyle kicks and a huge melody line that is accommodated by a lovely female
 singing voice. This energetic and melodic track will be premiered at the blue stage of Defqon.1 . After hearing this track you will remember it, forever!</p>
             <p>DJ Thera brings a brand new and big atmospheric release with 'Forever'. A track that has both hard
 pounding Raw Hardstyle kicks and a huge melody line that is accommodated by a lovely female
 singing voice. This energetic and melodic track will be premiered at the blue stage of Defqon.1 . After hearing this track you will remember it, forever!</p>
             <p>DJ Thera brings a brand new and big atmospheric release with 'Forever'. A track that has both hard
 pounding Raw Hardstyle kicks and a huge melody line that is accommodated by a lovely female
 singing voice. This energetic and melodic track will be premiered at the blue stage of Defqon.1 . After hearing this track you will remember it, forever!</p>
             <p>DJ Thera brings a brand new and big atmospheric release with 'Forever'. A track that has both hard
 pounding Raw Hardstyle kicks and a huge melody line that is accommodated by a lovely female
 singing voice. This energetic and melodic track will be premiered at the blue stage of Defqon.1 . After hearing this track you will remember it, forever!</p>
           </div>
         </div>
         <div class="row justify-content-center">

             <!-- Card -->
             <div class="col-4">
             <div class="card">
               <a href="shiseido.html">
                 <img src="assets/img/shiseido/shiseido-logo.png" alt="..." class="card-img-top">
               </a>
               <div class="card-body">
                 <div class="row align-items-center">
                   <div class="col">

                     <!-- Title -->
                     <h4 class="card-title mb-2 name">
                       <a href="project-overview.html">Shiseido</a>
                     </h4>

                     <!-- Subtitle -->
                     <p class="card-text small text-muted">
                       Création de l'application mobile
                     </p>

                   </div>
                   <div class="col-auto">

                     <!-- Dropdown -->
                     <div class="dropdown">

                       <div class="dropdown-menu dropdown-menu-right">
                         <a href="#!" class="dropdown-item">
                           Action
                         </a>
                         <a href="#!" class="dropdown-item">
                           Another action
                         </a>
                         <a href="#!" class="dropdown-item">
                           Something else here
                         </a>
                       </div>
                     </div>

                   </div>
                 </div> <!-- / .row -->

                 <!-- Divider -->


               </div> <!-- / .card-body -->
             </div>
           </div>

           <div class="col-4">

             <!-- Card -->
             <div class="card">
               <a href="shiseido.html">
                 <img src="assets/img/macif/macif-logo.jpg" alt="..." class="card-img-top">
               </a>
               <div class="card-body">
                 <div class="row align-items-center">
                   <div class="col">

                     <!-- Title -->
                     <h4 class="card-title mb-2 name">
                       <a href="project-overview.html">La Macif</a>
                     </h4>

                     <!-- Subtitle -->
                     <p class="card-text small text-muted">
                       De l'application mobile à sa responsive sur desktop
                     </p>

                   </div>
                   <div class="col-auto">

                     <!-- Dropdown -->
                     <div class="dropdown">
                       <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                       </a>
                       <div class="dropdown-menu dropdown-menu-right">
                         <a href="#!" class="dropdown-item">
                           Action
                         </a>
                         <a href="#!" class="dropdown-item">
                           Another action
                         </a>
                         <a href="#!" class="dropdown-item">
                           Something else here
                         </a>
                       </div>
                     </div>

                   </div>
                 </div> <!-- / .row -->

                 <!-- Divider -->


               </div> <!-- / .card-body -->
             </div>

           </div>


             <!-- Card -->



            </div>

      </div>
      <div class="container">
          <div class="row">
            <div class="col text-center">

            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col col-lg-7">
              <h1>Test</h1>
              <p class="lead text-muted">rerrterrf drdr drtdfrf</p>
              <p>DJ Thera brings a brand new and big atmospheric release with 'Forever'. A track that has both hard
  pounding Raw Hardstyle kicks and a huge melody line that is accommodated by a lovely female
  singing voice. This energetic and melodic track will be premiered at the blue stage of Defqon.1 . After hearing this track you will remember it, forever!</p>
              <p>DJ Thera brings a brand new and big atmospheric release with 'Forever'. A track that has both hard
  pounding Raw Hardstyle kicks and a huge melody line that is accommodated by a lovely female
  singing voice. This energetic and melodic track will be premiered at the blue stage of Defqon.1 . After hearing this track you will remember it, forever!</p>
              <p>DJ Thera brings a brand new and big atmospheric release with 'Forever'. A track that has both hard
  pounding Raw Hardstyle kicks and a huge melody line that is accommodated by a lovely female
  singing voice. This energetic and melodic track will be premiered at the blue stage of Defqon.1 . After hearing this track you will remember it, forever!</p>
              <p>DJ Thera brings a brand new and big atmospheric release with 'Forever'. A track that has both hard
  pounding Raw Hardstyle kicks and a huge melody line that is accommodated by a lovely female
  singing voice. This energetic and melodic track will be premiered at the blue stage of Defqon.1 . After hearing this track you will remember it, forever!</p>
            </div>
          </div>
          <div class="row justify-content-center">

              <!-- Card -->
              <div class="col-4">
              <div class="card">
                <a href="shiseido.html">
                  <img src="assets/img/shiseido/shiseido-logo.png" alt="..." class="card-img-top">
                </a>
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h4 class="card-title mb-2 name">
                        <a href="project-overview.html">Shiseido</a>
                      </h4>

                      <!-- Subtitle -->
                      <p class="card-text small text-muted">
                        Création de l'application mobile
                      </p>

                    </div>
                    <div class="col-auto">

                      <!-- Dropdown -->
                      <div class="dropdown">

                        <div class="dropdown-menu dropdown-menu-right">
                          <a href="#!" class="dropdown-item">
                            Action
                          </a>
                          <a href="#!" class="dropdown-item">
                            Another action
                          </a>
                          <a href="#!" class="dropdown-item">
                            Something else here
                          </a>
                        </div>
                      </div>

                    </div>
                  </div> <!-- / .row -->

                  <!-- Divider -->


                </div> <!-- / .card-body -->
              </div>
            </div>

            <div class="col-4">

              <!-- Card -->
              <div class="card">
                <a href="shiseido.html">
                  <img src="assets/img/macif/macif-logo.jpg" alt="..." class="card-img-top">
                </a>
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Title -->
                      <h4 class="card-title mb-2 name">
                        <a href="project-overview.html">La Macif</a>
                      </h4>

                      <!-- Subtitle -->
                      <p class="card-text small text-muted">
                        De l'application mobile à sa responsive sur desktop
                      </p>

                    </div>
                    <div class="col-auto">

                      <!-- Dropdown -->
                      <div class="dropdown">
                        <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a href="#!" class="dropdown-item">
                            Action
                          </a>
                          <a href="#!" class="dropdown-item">
                            Another action
                          </a>
                          <a href="#!" class="dropdown-item">
                            Something else here
                          </a>
                        </div>
                      </div>

                    </div>
                  </div> <!-- / .row -->

                  <!-- Divider -->


                </div> <!-- / .card-body -->
              </div>

            </div>


              <!-- Card -->



             </div>

       </div>
                </div> <!-- / .row -->
              </div> <!-- / .card-body -->
            </div>

          </div>

        </div> <!-- / .row -->
      </div>
    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    @@include("partials/scripts.html")

  </body>
</html>
